/* font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Raleway", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}
/* global styles */
section {
  margin: 0 140px;
}
/* shared styles */
.orange-color {
  color: orange;
}
.sky-blue {
  color: #01acfd;
}
.nil-color {
  color: rgba(5, 212, 223, 1);
}
.blue-color {
  color: rgba(93, 88, 239, 1);
}
.section-title {
  font-size: 2.875rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
.padding {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
/* navbar style */
nav {
  margin: 0 140px;
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo img {
  width: 100%;
}
.logo h3 {
  font-size: 2rem;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 500;
}
.menu-item:first-child a {
  font-weight: bold;
}
.menu-btn {
  padding: 0.625rem 3.75rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: orange;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.hamburger {
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
}
/* banner section */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
}
.banner-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 50%;
}
.banner-description h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
.banner-description p {
  font-size: 1.25rem;
}
.banner-description button {
  padding: 0.625rem 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 12px;
  cursor: pointer;
}
.banner-image img {
  width: 100%;
}
/* curriculum section */
.curriculum {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  text-align: center;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.curriculum-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
}
.curriculum-card {
  padding: 3.125rem;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.curriculum-card:nth-child(1) {
  background: linear-gradient(#def5ff, #ffffff 40%);
  border: 1px solid #def5ff;
}
.curriculum-card:nth-child(2) {
  background: linear-gradient(#fff4dc, #ffffff 40%);
  border: 1px solid #fff4dc;
}
.curriculum-card:nth-child(3) {
  background: linear-gradient(#eee1ff, #ffffff 40%);
  border: 1px solid #eee1ff;
}
.curriculum-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.curriculum-card p {
  font-size: 0.9rem;
  font-family: "Raleway", serif;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: rgba(128, 128, 128, 1);
}
.curriculum-card img {
  width: 100%;
}
.curriculum-card a {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
}
.arrow {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.arrow > div {
  height: 3.76rem;
  width: 3.76rem;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}
/* story section */

.our-story {
  background: linear-gradient(rgba(255, 255, 255, 0.228), #fea10142),
    url("../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-left: 140px;
  padding-right: 140px;
}
.our-story-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}
.item1 {
  grid-row: span 2;
  grid-column: span 2;
}
.our-story-card {
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
}
.story-card-description {
  padding: 1.5rem 2rem;
}
.our-story-card h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.our-story-card h5 {
  font-size: 1rem;
  font-weight: bold;
}
.our-story-card p {
  font-size: 0.9rem;
  font-family: "Raleway", serif;
  font-weight: 500;
  line-height: 28px;
  color: rgba(128, 128, 128, 1);
}
.our-story-card img {
  width: 100%;
  object-fit: cover;
}
.our-story-container h2 {
  text-align: center;
}
.story-button {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.story-btn {
  padding: 0.625rem 3.75rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: black;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.story-card-image img {
  width: 100%;
  object-fit: cover;
}
.story-card-image {
  position: relative;
}
.story-badge {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: white;
  font-family: "Raleway", serif;
  border-radius: 50px;
  font-weight: 500;
  position: absolute;
  bottom: -1rem;
  left: 2rem;
}
.badge1 {
  background-color: rgba(60, 216, 232, 1);
}
.badge2 {
  background-color: rgba(149, 178, 38, 1);
}
.badge3 {
  background-color: rgba(93, 88, 240, 1);
}
.badge4 {
  background-color: orange;
}
.badge5 {
  background-color: red;
}
@media screen and (max-width: 576px) {
  section {
    margin: 0;
    padding: 1rem;
  }
  .section-title {
    font-size: 2.2rem;
  }
  nav {
    margin: 0;
    padding: 1rem;
    border: 1px solid orange;
  }
  .logo h3,
  .menu,
  .menu-btn {
    display: none;
  }
  .hamburger {
    display: inline;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-description {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .curriculum-card-container {
    grid-template-columns: 1fr;
  }
  .arrow {
    display: none;
  }
  .our-story {
    padding: 1rem;
  }
  .our-story-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
  }

  .story-card-description {
    padding: 1rem;
  }
  .item1 {
    display: none;
  }
  .story-badge {
    padding: 0.3125rem 0.625rem;
    font-size: 0.625rem;
    left: 1rem;
    bottom: -0.5rem;
  }
  .story-card-description h5 {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  section {
    margin: 0;
    padding: 1rem;
  }
  nav {
    margin: 0;
    padding: 1rem;
    border: 1px solid orange;
  }
  .logo h3,
  .menu,
  .menu-btn {
    display: none;
  }
  .hamburger {
    display: inline;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-description {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .curriculum-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .arrow {
    display: none;
  }
  .our-story {
    padding: 1.25rem;
  }
  .our-story-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
  }
  .item1 {
    display: none;
  }
  .story-badge {
    padding: 0.3125rem 0.625rem;
    font-size: 0.7rem;
    left: 1rem;
    bottom: -0.5rem;
  }
  .story-card-description {
    padding: 1rem;
  }
  .story-card-description h5 {
    font-size: 0.9rem;
  }
}
